input[type=text], input[type=password], input[type=email]{
  width: 90%;
  padding: 2%;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

textarea{
  display: block;
  margin-left:auto;
  margin-right:auto;
  border: none;
  background: none;
  background-color: white;
}
textarea:focus{
  outline: none;
}
#bouton_commentaire{
  text-decoration: none;
  padding: 8px 16px;
  background-color: #8AA29E;
  color:white;
  border:none;
  cursor:pointer;
}
#bouton_commentaire:hover{
  background-color: #ddd;
  color: black;
}

/* Set a style for all buttons */
button {
  background-color: blue;
  color: white;
  padding: 1%;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  width: 50%;
}

button:hover {
  opacity: 1;
  box-shadow: 5px 5px 5px black;
}

/* Add padding to container elements */
.container {
  width: 50%;
  background-color: white;
  padding: 2%;
  box-shadow: 10px 5px 5px black;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
